HOST=0.0.0.0
PORT=3000
NODE_ENV=production
APP_URL=https://adminapi.opplexify.com
APP_NAME=Quran Dual Page & Multi-Line Reader

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=quran_admin
DB_SYNCHRONIZE=true
DB_LOGGING=false

JWT_SECRET=change-me
JWT_EXPIRES_IN=7d

ADMIN_SEED_EMAIL=admin@opplexify.com
ADMIN_SEED_PASSWORD=ChangeMe123!
